body {
  font-family: 'Playfair Display', serif;
  min-height: 200vh;
  margin: 0;

  background-image:
    linear-gradient(
      rgba(10, 15, 25, 0.75),
      rgba(10, 15, 25, 0.75)
    ),
    url("./ghibli-walls.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #f5f5f5;
}
